@{
    ViewBag.Title = "Oy Vähätyö Ab";
}
@*<h2>@ViewBag.Title</h2>*@
<h3>@ViewBag.Message</h3>

<p>Vähätyö Global Enterprises Plc on kansainvälinen monialayritys, jolla on toimipisteitä useassa eri maassa.</p>
<p>Erikoisalaamme ovat vaatetusalan tuotteet.</p>
