@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.6045184306251!2d24.433467915901605!3d60.00505146370165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468d8f42f17d56b5%3A0x3f8271782f0d9b88!2sTrolln%C3%A4sintie%2058%2C%2002480%20Kirkkonummi!5e0!3m2!1sen!2sfi!4v1575270388967!5m2!1sen!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

<h3>Osoite ja puhelinnumero:</h3>
<address>
    Trollnäsintie 58<br />
    02480 Kirkkonummi<br />
    Suomi<br />
    <strong>Puhelin:</strong>
    040-123456
</address>

<h3>Sähköpostiosoite:</h3>
<address>
    <strong>Sähköposti</strong>   <a href="mailto:lauri.leskinent@student.careeria.fi">customer.service@vahatyo.com</a><br />
</address>
